body{
    background-image: url(/src/assets/background.png);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
}
.centerDiv{
    /* text-align: left; */
    position: relative;
    width: fit-content;
    margin: 7% auto 90px auto;
}

.adventurePicDiv{
    position:absolute;
    right: 0px;
    top: 20px;
    margin-left: 47px;
    float: right;
}
.adventurePic{
    position:relative;
    width: 162px;
    height: 116px;    
}
.mainContent{
    align-items: center;
    background-color: white;
    border-radius: 24px;
}
.questionTextDiv{
    position:relative;
    top: 68px;
    text-align: center;
    width: 100%;
}
.questionText{
    position: relative;
    font-family: 'Poppins';
    width: 550px;
    height: fit-content;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.liDiv{
    position: relative;
    margin-top:90px ;
    align-items: center;
    bottom: 0px;
}
li{
    font-family: 'Poppins';
    padding:0px 40px;
    margin-bottom:31px;
    border: 2px solid #6066D0;
    color: #6066D0;
    font-size: 18px;
    text-align: center;
    margin-right:25px;
    width:400px;
    height: fit-content;
    line-height:50px;
    border-radius:12px;
    box-shadow:2px 1px 5px 2px #6066D0;
}
li:hover{
    background-color:#F9A826;
    color:white;
    cursor: pointer;

}
ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;    
}
.nextBtn{
    font-family:'Poppins';
    position: relative;
    padding: 15px 37px;
    background-color: #F9A826;
    width: 116px;
    height: 56px;
    color: white;
    border-radius: 12px;
    font-weight: 700;
    text-align: center;
    font-size: 18px;
    bottom: 32px;
    margin-left:70%;
    margin-top: 24px;
    border: 1px  solid #928181;
    box-shadow: 2px 3px #6066D0;
    cursor: pointer;
}
.nextBtn:hover{
    background-color:#f59700;
}